.video {
    max-width: 640px;
    min-width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.video > iframe,
.video > img {
    width: 32vw;
    height: 18vw;
}

.tinyVideo {
    max-width: 16vw;
    min-width: 9vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.videoHeading {
    padding: 6pt;
    font-weight: 700;
    background-color: rgba(0,184,212,.1);
}

.videoDescription {
    font-style: italic;
}

button {
    background-color: #795649;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    padding: 3pt 6pt;
}

.largeButton {
    padding: 30pt 36pt;
}


/* Style the top label on side nav */

.md-nav__item:not(.md-nav__item .md-nav__item) > a, 
.md-nav__item:not(.md-nav__item .md-nav__item) > label {
    border-bottom: solid;
    border-bottom-color: brown;
    font-size: large;
}



/*
.md-nav__link--active {
    font-weight: bold;
    color: black !important;
}
*/
